body {
  color: #efeff1 !important;
  background-color: #0e0e10 !important;
}

button {
  background-color: #3b3b44 !important;
  border: none !important;
}

button:hover {
  background-color: #464649 !important;
  border: none !important;
}

.item {
  border-radius: 3px;
  padding: 1rem!important;
  background-color: #26262c;
}

.bg-form-dark {
  background-color: #1f1f23 !important;
}

.btn-add-item {
  background-color: #772ce8 !important;
  border-color: #772ce8 !important;
}

.btn-add-item:hover {
  background-color: #5c16c5 !important;
  border-color: #5c16c5 !important;
}